/*
colors

background:
rgb(245, 245, 245)
*/

/*

TODO:
- add form logic
- background spinning images animations
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  color: #242424;
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  max-width: 100vw;
  overflow-x: hidden; /* disable horizontal scroll */
}

img {
  width: 100%;
}

a,
a:visited {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
  font-size: inherit;
}

span {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

input,
textarea {
  background-color: transparent;
  outline: none;
  border-top: none;
  border-right: none;
  border-bottom: solid 3px #c0c4cc;
  border-left: none;
  min-height: 40px;
  transition: border-color 300ms ease;
}

textarea {
  resize: vertical; /* by default can also resize horizontally, this disables it */
  height: 100px; /* start height */
  margin-top: 12px;
}

/*

RE-USABLES

*/

.purple {
  color: #5d3eff;
}

.white {
  color: #ffffff;
}

.bold {
  font-weight: bold;
}

.container {
  padding: 50px 0;
}

.row {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.section__title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 60px;
}

.shadow {
  box-shadow: 0 /* horizontal offset */ 20px /* vertical offset */ 80px
    /* blur radius offset */ 0 /* shadow size - 0 means same as box */
    rgb(0, 0, 0, 0.5); /* shadow color */
}

.shadow--light {
  box-shadow: 0 /* horizontal offset */ 20px /* vertical offset */ 60px
    /* blur radius offset */ 0 /* shadow size - 0 means same as box */
    rgb(0, 0, 0, 0.3); /* shadow color */
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect::after {
  position: absolute;
  content: "";
  height: 3px;
  right: 0;
  bottom: -3px;
  width: 0;
  transition: width 300ms ease;
}

.link__hover-effect:hover::after {
  left: 0;
  width: 100%;
}

.link__hover-effect--black::after {
  background-color: #242424;
}

.link__hover-effect--white::after {
  background-color: #f5f5f5;
}

.btn__hover-effect {
  transition: transform 300ms ease;
}

.btn__hover-effect:hover,
.nav__links--list-item:hover .btn__hover-effect {
  transform: scale(1.1);
}

.btn__hover-effect:active,
.nav__links--list-item:active .btn__hover-effect {
  /* :active means on click */
  transform: scale(0.8);
}


/*

NAV

*/

nav {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 100px;

  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo,
.footer__logo {
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: opacity 300ms ease;
}

.nav__links--list {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.nav__links--list-item {
  margin: 0 12px;
  font-weight: 700;
}

.nav__links--dark-mode-btn {
  padding-bottom: 3px;
}

/*

HEADER

*/

header {
  height: calc(100vh - 100px);
}

.header__container {
  /* center horizontally + vertically */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* responsive width */
  max-width: 1100px;
  width: 100%;
  padding: 0 30px;
}

.header__title {
  font-size: 120px;
  line-height: 1.125;
  margin-bottom: 12px;
}

.header__para {
  max-width: 450px;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #000000;
}

.social__list {
  display: flex;
  margin-top: 16px;
}

.social__btn {
  height: 36px;
  width: 36px;
  margin-right: 12px;
  background-color: #6415ff;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__icon {
  color: white;
}

/*

POP UP

*/

.popup__wrapper {
  /* click outside pop up to exit */
  /* fullscreen */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  /* only clickable when popup is visible */
  z-index: -1;
}

.popup {
  max-width: 1100px;
  width: 90%;
  height: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 18px;
  overflow: hidden;
  opacity: 0;

  display: flex;
  align-items: stretch;
  justify-content: stretch;
  transition: opacity 500ms ease;

  z-index: -1;
}

.popup--opacity {
  opacity: 1;
}

.popup--open {
  /* move popup wrapper and popup behind once it's gone */
  z-index: 1;
}

.hide {
  /* class adds to nav + header when nav is open */
  opacity: 0;
}

#nav,
.header__container {
  transition: opacity 750ms ease;
}

.popup--opacity .popup__half--left,
.popup--opacity .popup__half--right {
  transform: translateX(0);
}

.popup__half {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 40px 72px;
  position: relative;
  transition: transform 500ms ease;
}

.popup__half--left {
  background-color: #f5f5f5;
  transform: translateX(-100%);
}

.popup__half--right {
  background-color: #242424;
  transform: translateX(100%);
}

.popup__img--wrapper {
  width: 124px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  margin-bottom: 16px;
}

.popup__img {
  transform: scale(1.2);
}

.popup__title {
  font-size: 26px;
}

.popup__sub-title {
  font-size: 14px;
}

.popup__para {
  margin: 12px 0;
  font-size: 16px;
  /* margin-bottom: 12px; */
  line-height: 1.75;
}

.popup__languages {
  display: flex;
  margin-left: -16px;
}

.popup__language--wrapper {
  width: calc(100% / 4);
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: filter 300ms ease, transform 300ms ease;
}

.popup__language--wrapper:hover {
  filter: brightness(80%);
  transform: scale(90%);
}

.popup__language--name {
  position: absolute;
  bottom: -12px;
  transform: scale(0);
  transition: transform 300ms ease;
}

.popup__language--wrapper:hover .popup__language--name {
  transform: scale(1);
}

.popup__half--right * {
  color: white;
}

.popup__exit-btn {
  position: absolute;
  top: 32px;
  right: 48px;
  font-size: 2.5rem;
}

#contact__form {
  width: 100%;
}

.popup__sub-title {
  margin: 12px 0 24px;
}

.form__item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 20px;
}

.form__item--label {
  font-weight: 700;
}

input:hover,
textarea:hover {
  border-bottom-color: #dcdfe6;
}

input:focus,
textarea:focus {
  border-color: #6415ff;
}

.form__submit {
  background-color: #5d3eff;
  border: 2px solid #5d3eff;
  color: white;
  font-weight: 700;
  max-width: 240px;
  width: 100%;
  padding: 12px 24px;
  font-size: 1.25rem;
  transition: all 300ms ease;
}

.form__submit:hover {
  border-color: #fff;
  background-color: transparent;
}

.form__submit:active {
  border-color: #5d3eff;
  color: #5d3eff;
}
/*

EMAIL ENVELOPE & SCROLL

*/

.mail__btn {
  width: 70px;
  height: 70px;
  background-color: #242424;
  position: fixed;
  right: 3%;
  bottom: 3%;
  border-radius: 50%;
  overflow: hidden;
  border: none;
}

.mail__icon {
  color: #ffffff;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #242424;
  border-radius: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon:after {
  /* moving  */
  content: "";
  width: 4px;
  height: 6px;
  background-color: #242424;
  border-radius: 2px;
  animation: scroll-wheel 1s infinite alternate-reverse ease-out;
}

@keyframes scroll-wheel {
  0 {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(-3px);
  }
}

/*

BACKGROUND DECORATIONS

*/

.background-decorations {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.shape {
  position: absolute;
}

.shape--semi-circle {
  width: 32px;
}

.shape--circle {
  width: 24px;
}

.shape--squiggly {
  width: 44px;
}

.shape--triangle {
  width: 32px;
}

.shape--0 {
  left: 10%;
  top: 18%;
}

.shape--1 {
  left: 40%;
  top: 12%;
}

.shape--2 {
  right: 10%;
  top: 15%;
}

.shape--3 {
  left: 1%;
  top: 48%;
}

.shape--4 {
  top: 52%;
  right: 44%;
}

.shape--5 {
  right: 20%;
  top: 48%;
}

.shape--6 {
  left: 7%;
  bottom: 17%;
}

.shape--7 {
  left: 44%;
  bottom: 20%;
}
.shape--8 {
  right: 12%;
  bottom: 16%;
}

/*

PROJECTS

*/

.project {
  margin-bottom: 135px;
  border-radius: 20px;
  overflow: hidden;
  height: 609.25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
}

.project__img {
  width: 130%;
  padding-top: 20px;
  background-color: white;
}

.project__img--ecom {
  width: 100%;
}

.project__img--tindog {
  padding: 0;
}

.project__background {
  /* take full width of parent container */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* could also set right and bottom to 0, but the 100% version is better practice */

  background-color: #1c1d25;
  opacity: 0;
  visibility: hidden;
}

.project__description {
  position: absolute;
  left: 0;
  top: 0;
  width: 550px;
  height: 100%;

  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* animation */
  visibility: hidden;
  opacity: 0;
  transform: translateY(50%);
}

.project__background,
.project__img,
.project__description {
  transition: all 500ms ease;
}

.project:hover .project__description {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.project:hover .project__background {
  opacity: 0.7;
  visibility: visible;
}

.project:hover .project__img {
  filter: blur(5px);
  scale: 1.07;
  transition: all 300ms ease;
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
  color: white;
}

.project__description--title {
  font-size: 40px;
}

.project__description--sub-title {
  margin-top: 8px;
}

.project__description--para {
  margin: 16px 0;
  line-height: 1.5;
}

.project__description--link {
  margin-right: 16px;
}

/*

FOOTER

*/

.footer__container {
  padding: 5% 0;
  background-color: #242424;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social__link,
.footer__copyright,
.footer__scroll-up__text,
.footer__scroll-up__arrow {
  color: white;
}

.footer__logo--wrapper {
  width: 100px;
  position: relative;
  display: flex;
  justify-content: center;
}

.footer__scroll-up {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
  transform: translate(100%, 75%);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
  /* background: red; */
}

.footer__logo--wrapper:hover .footer__scroll-up {
  transform: translate(100%, 0);
  opacity: 1;
  visibility: visible;
}

.footer__scroll-up__text {
  font-weight: 700;
  font-size: 20px;
}

.footer__scroll-up__arrow {
  margin-left: 8px;
}

.social__links {
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 36px 0;
}

/*

Dark Mode

*/

.purple,
.social__btn,
.nav__logo--black,
body {
  transition: all 750ms ease;
}

body.dark {
  background-color: #242424;
}

.dark .purple {
  color: #f06449;
}

.dark .nav__links--anchor,
.dark .header__title,
.dark .header__para,
.dark .section__title,
.dark #btn__dark-mode {
  color: white;
}

.dark .link__hover-effect--black::after {
  background-color: #f5f5f5;
}

.dark .nav__logo--black {
  filter: invert(100%);
}

.dark .social__btn,
.dark .form__submit {
  background-color: #f06449;
}

.dark .mail__icon {
  color: #242424;
}

.dark .mail__btn {
  background-color: #ffffff;
}
