.background-decorations {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.shape {
  position: absolute;
}

.shape--semi-circle {
  width: 32px;
}

.shape--circle {
  width: 24px;
}

.shape--squiggly {
  width: 44px;
}

.shape--triangle {
  width: 32px;
}

.shape--0 {
  top: 15vh;
  left: 5vw;
}

.shape--1 {
  top: 15vh;
  left: 50vw;
}

.shape--2 {
  top: 15vh;
  left: 80vw;
}

.shape--3 {
  top: 50vh;
  left: 5vw;
}

.shape--4 {
  top: 50vh;
  left: 50vw;
}

.shape--5 {
  top: 50vh;
  left: 80vw;
}

.shape--6 {
  top: 80vh;
  left: 5vw;
}

.shape--7 {
  top: 80vh;
  left: 50vw;
}

.shape--8 {
  top: 80vh;
  left: 80vw;
}

@media (max-width: 768px) {
  .background-decorations {
    display: none;
  }
}