.footer__container {
  padding: 5vh 0;
  background-color: #242424;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social__link,
.footer__copyright,
.footer__scroll-up__text,
.footer__scroll-up__arrow {
  color: white;
}

.footer__logo--wrapper {
  /* wraps logo + scroll-up text */
  width: 80px;
  position: relative;
  display: flex;
  justify-content: center;
}

.footer__logo--wrapper img {
  width: 100%;
}

.footer__scroll-up {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
  transform: translate(100%, 75%);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}

.footer__logo--wrapper:hover .footer__scroll-up {
  transform: translate(100%, 0);
  opacity: 1;
  visibility: visible;
}

.footer__scroll-up__text {
  font-weight: 700;
  font-size: 20px;
}

.footer__scroll-up__arrow {
  margin-left: 8px;
}

.social__links {
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 36px 0;
}

@media screen and (max-width: 480px) {
  .footer__logo--wrapper {
    width: 72px;
  }
}